page-filme {
    
    h2.filme_title {
        color: red;
        font-weight: bold;
    }

    p.filme_date {
        color: green;
    }

    p.filme_desc {
        color: black;
        font-weight: bold;
    }
}